body {
    margin-top: 106px;
}

#home_sec{
    min-height: 80vh !important;
    background-color: rgb(26, 188, 156);
}

section h1 {
    font-weight: 700;
}

.star_lines1 {
    height: 4px;
    width: 80px;
    background: white;
    display: inline-block;
}